.event {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 80px 30px;
	background-color: #1a1a1a;
	background: no-repeat url('../img/bg.png') center/cover;
	color: #fff;
	/* todo */
	/* display: none; */
}

.event__title {
	font-size: 100px;
	font-weight: 800;
	line-height: 1.2;
	margin-bottom: 50px;
}

.event__info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 80px;
	margin-bottom: 62px;
}

.event__info-item {
	font-size: 30px;
}

.event__info-number {
	font-size: 80px;
	font-weight: 800;
	line-height: 1.2;
	margin-right: 8px;
}

.event__buttons {
	line-height: 1.4;
}

.event__button_reserve {
	padding: 16px 36px;
	border-radius: 36px;
	font-size: 24px;
	background-color: #ffc119;
	color: #1a1a1a;
	margin-bottom: 24px;
}

.event__button_edit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	gap: 8px;
}

@media (max-width: 1024px) {
	.event__title {
		font-size: 70px;
		margin-bottom: 40px;
	}

	.event__info {
		gap: 50px;
		margin-bottom: 45px;
	}

	.event__info-item {
		font-size: 24px;
	}

	.event__info-number {
		font-size: 50px;
	}

	.event__button_reserve {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

@media (max-width: 680px) {
	.event {
		padding: 80px 16px 60px;
	}

	.event__title {
		font-size: 38px;
		margin-bottom: 8px;
	}

	.event__info {
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 10px;
		margin-bottom: 30px;
	}

	.event__buttons {
		margin-top: auto;
	}
}
